.request-block{
    border:  solid 0px;
    border-radius: 20px;
    background: linear-gradient(35deg, rgb(0, 88, 189),rgba(77, 125, 212, 0.788));
    height: 15vh;
    color: white;
    padding: 20px;
}

.request{
    width: 30%;
    margin-left: 10%;
    margin-top: 50px;
}

.refresh{
    cursor: pointer;
}
.notask{
    height: 8vh;
    background: white;
    border-radius: 10px;
}
.notask-blk{
    width: 40%;
    margin-left: 10%;
    margin-top: 50px;
}

.add-req{
    background: linear-gradient(35deg, rgb(0, 88, 189),rgba(77, 125, 212, 0.788));
    border-radius:50px;
    font-size: 12px;
}